
<!DOCTYPE html>
<html lang="es">
<head >
	<meta charset="UTF-8">
	<title>Submenús con CSS</title>
	<style>
		html {
			font-size: 16px;
			font-family: sans-serif;
		}
	.header { 
			position: fixed;
			z-index: 999;
			top: 0;
			left: 0;
			width: 100%;
			height: 4.5rem;
			background-color: #222;
			color: #FFF;
		}
		.menu {
			background-color: #000;
			color: greenyellow;
			padding: 1rem;
			display: inline;
		}

		.menu > li {
			position: relative;
			display: inline;
			padding: 1rem;
			list-style-type: none;
			transition: all .25s ease-out;
		}

		.menu > li:hover {
			background-color: greenyellow;
			color: #000;
			cursor: pointer;
		}

		.submenu {
			position: absolute;
			top: 3rem;
			left: 1rem;
			/* display: none; */
			padding: 1rem;
			list-style-type: none;
			background-color: #000;
			color: greenyellow;
			visibility: hidden;
			transition: all 1s ease-out;
			opacity: 0;
		}


		.menu > li:hover > .submenu {
			/* display: block; */
			visibility: visible;
			opacity: 1;
		}

		.submenu > li {
			padding: 1rem;
			transition: all .25s ease-out;
		}

		.submenu > li:hover {
			background-color: greenyellow;
			color: #000;
		}
input[type=search] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    height: 30px;
    width: 200px;
    background: #CCC;
    color: orangered;
}
* {
    margin:0;
    padding:0;
    font:12pt Arial;
}

body {
  <!-- Codigo Ivargas 21/05/2016 cambiando el color de fondo de la web-->	
  background-color:#E0F8EC;
}

.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:70%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133)
  ;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
}
	</style>
</head>
<body>
	<header>
	
	</header>    
<!--Codigo Ivargas 22/05/2016 11:35 Pm adicionando Carrousel de imagenes-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "Cochera1.jpg", html: { alt: "rest_slider1" } %>
      <div class="carousel-caption">
        <h3>Cocheras a tu disposicion</h3>
        <p>Buscador InstaParking</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "Cochera2.jpg", html: { alt: "rest_slider2" } %>
      <div class="carousel-caption">
        <h3>Tu mejor alternativa</h3>
        <p>Mejor Servicio</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "Cochera3.jpg", html: { alt: "rest_slider3" }%>
      <div class="carousel-caption">
        <h3>Agilidad y Rapidez</h3>
        <p>Encuentra una cochera especial para ti</p>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- Final Codigo Ivargas 22/05/2016 11:35 Pm adicionando Carrousel de imagenes-->	


	<!--<h1></h1>-->
	
 <!--       <article class="content">-->
 <!--       <p> </p>-->
 <!--       <p> </p>-->
 <!--       <p> </p>-->
 <!--       <p> </p>-->
 <!--       </article>-->
 <!--       <article class="content">-->
 <!--       <p> </p>-->
 <!--       <p> </p>-->
 <!--       <p> </p>-->
 <!--       <p> </p>-->
 <!--       </article>    -->
 <!--       #Comentado Ivargas 21/05/2016 03:03 PM-->
	<!--    <article class="content">-->
	<!--        <h2>.</h2>-->
 <!--           <div class="field" id="searchform">-->
 <!--             <input type="text" id="searchterm" placeholder="what are you searching for?" />-->
 <!--             <button type="button" id="search">Find!</button>-->
 <!--           </div>				-->
	<!--	</article>	-->
</body>
</html>